body{
    background-color: aqua;
    font-family: sans-serif;
}
h1{
    color: blue;
}
#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2{
    color: brown;
}
.basico{
    text-align: center;
}
.normal{
    text-align: left;
}
.avancado{
    text-align: right;
}